{% extends "Note/base.html" %}
{% block title %}Note{% endblock %}
{% block topics %}

    <!-- <script>
        alert("Welcome to Note App");
    </script> -->

    <style>

        .box {
            border: 3px solid black;
            margin: 20px;
            padding: 10px;
            border-radius: 10px;
        }
        .box_background {
            background-color: rgb(212, 227, 241);
            margin: 20px;
            padding: 20px;
            border-radius: 20px;
        }
        .topi {
            color: black;
        }
        i {
            display: flex;
            float: right;
            padding-right: 3%;
        }
        .add_topic {
            position: fixed;
            right: 0;
            margin-right: 3%;
            
        }
    </style>

    <div class="add_topic">
        <a href="{% url 'Note:new_topic' %}"><svg class="bi bi-plus-square-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
          </svg></a>
    </div>

<div class="box_background">
    <h2>Note:</h2>
    {% for topic in topics %}
    
    <div class="box">
        <a class="topi" href="{% url 'Note:topics' topic.id %}">{{ topic }}</a>
        <ul>
            
            {% for top in topic.entry.all %}
            <li><em>{{ top }}</em></li>
            {% endfor %}
            <a onclick="return confirm('Proceed to delete topic?')" href="{% url 'Note:del_topic' topic.id %}"><svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
              </svg></a>
            
        </ul>
    </div>
    {% empty %}
        <li>No topic have been added yet.</li>
    {% endfor %}
</div>


{% endblock %}

        
